body{
    text-align: center;
    letter-spacing: 0.05em;
}
div {
    display: block;
}
dd{
    margin-top: 10px;
}
strong{
    color: red;
}
th{
    text-align:center;
    background-color:#CCCCCC;
}
#page {
    margin: 0px auto;
    position: relative;
    text-align: left;
    width: 955px;
}
#headerArea{
    width : 945px;
}
#brailltopArea{
    text-align:left;
    margin:0px auto;
    width: 700px
}
#conetntArea{
    width : 945px;
}
#footerArea{
    width : 945px;
}
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
  font-size: 12px;
}

#errorExplanation p {
  color: #333;
  padding-left: 2px;
}

#errorExplanation ul li {
  list-style-image: url(../images/caution_icon.gif);
}
.brailletopContent{
    display:table-cell;
    height:80px;
    vertical-align:middle;
}

.brailletopBackground{
    width: 400px;
    background-color:#ddffdd;
}

/* 回り込み解除スタイル設定 */
.clearDiv{
    clear:both;
}
/* DIVの左回り込み設定 */
.divLeft{
    float:left;
}
/* DIVの横中央ぞろえ設定 */
.divcenterArea{
    text-align:center;
    width:100%;
}

/* スペース行（小）のスタイル設定 */
.spacer_mini{
    height:5px;
}
/* スペース行（大）のスタイル設定 */
.spacer{
    height:15px;
}
.captionArea{
    padding: 5px 5px;
    background-image: url(../../images/caption_back.gif);
    border-bottom: 2px solid #999;
}
.formCaption{
    float:left;
    width:180px;
    margin-top: 5px;
    text-align:right;
}
.marginArea{
    padding:5px;
}
.marginLeftArea{
    padding-left:5px;
}

.margintopArea{
    padding-top:5px;
}
.textCenter{
    text-align:center;
}
.textRight{
    text-align:right;
}
#introPage{
    width:580px;
    float:left;
}
#loginPage{
    vertical-align:top;
    width:350px;
    margin-left:600px;
}

.formtableWidth{
    width:900px;
}
.formtableArea{
    padding:5px;
    border: 2px solid #999;
}
.captiontableArea{
    width:250px;
    background-color:#CCCCCC;
    border: 2px solid #999;
    vertical-align:middle;
    padding:5px;
}
.user_status{
    width: 235px;
    border-width : 2px;
    border-style : solid;
    border-color : gray;
}
.current_user_status{
    width: 235px;
    font-weight: bold;
    background-color:#CCCCCC;
    border-width : 2px;
    border-style : solid;
    border-color : gray;
}
#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 2px;
  margin-bottom: 20px;
  background-color: #fff;
  font-size: 12px;
}


.fieldWithErrors{
  display: inline;
}
.tableArea{
    border: 2px solid #999;
    BORDER-COLLAPSE: collapse;
}