<script type="text/JavaScript">
<!--
window.onload=function(){
    setTimeout('jumpUrl()',30000)

}
function jumpUrl(){
    location.href="/";
}

//-->
</script>

<%= render :partial => 'user_bar', :locals => {:status => 4} %>
<div class="spacer"></div>
<div>
  <%= image_tag 'info_icon.gif', :alt =>'遠隔点字印刷サービスの利用登録が完了しました。'%>
  <label class="notice_message">遠隔点字印刷サービスの利用登録が完了しました。</label>
  <div class="spacer"></div>

  <div class="marginArea">
    <strong>30</strong>秒後に遠隔点字印刷サービスのページに移動します。
  </div>
  <div class="marginArea">
    自動で移動しない方は、<%= link_to('こちら', '/') %>をクリックして下さい。
  </div>
</div>
<div class="spacer"></div>
<div class="marginArea">みんなのICTトップページに移動する場合は<%= link_to('こちら', select_master_data('ict4e_url',:first)) %>をクリックして下さい。</div>
