<%= render :partial => 'user_bar', :locals => {:status => 1} %>
<h1>ネット点字印刷サービス 利用許諾</h1>
<div>
  <%= link_to('ネット点字印刷サービス利用許諾ページ',select_master_data('ict4e_url',:first) + 'rule/consent.html') %>
  より内容をご確認の上、「同意して次へ進む」ボタンをクリックしてください。
</div>
<div class="spacer"></div>
<div class="spacer"></div>
<div>
  <div class="divLeft">
    <% form_tag signup_path do -%>
      <%= submit_tag '次画面へ進む', :name => 'next_page' %>
    <% end -%>
    <% form_tag login_path do -%>
    </div>
<div>
  <%= submit_tag '前画面へ戻る', :name => 'back_page' %>
<% end -%>
</div>
</div>


