<div>
  <table class="tableArea">
    <tr>
      <td class="<%= get_progress_status(status, 1)%>user_status">
        <div>STEP-1</div>
        <div>依頼内容の入力</div>
      </td>
      <td class="<%= get_progress_status(status, 2)%>user_status">
        <div>STEP-2</div>
        <div>依頼内容の確認</div>
      </td>
      <td class="<%= get_progress_status(status, 3)%>user_status">
        <div>STEP-3</div>
        <div>登録完了</div>
      </td>
    </tr>
  </table>
</div>
