<%= render :partial => 'request_bar', :locals => {:status => 3} %>
<div class="margintopArea">
  <div>
    <%= image_tag 'info_icon.gif', :alt =>'遠隔点字印刷サービスの利用登録が完了しました。'%>
    <label class="notice_message">点字印刷依頼の登録が完了しました。</label>
  </div>
  <div class="margintopArea">
    1週間以内にご指定の場所にお届けしますが、以下の場合はご登録のメールアドレスに別途連絡致します。
  </div>
  <div>
    <ul>
      <li>ご依頼が利用条件に沿っていない場合。</li>
      <li>本NPOの都合で発送が遅れる場合。</li>
    </ul>
  </div>
</div>
<div class="margintopArea">
  <%= submit_tag "メニューへ戻る" ,:disable_with => 'しばらくお待ちください。'%>
</div>
