<h1 id="honbun">印刷依頼：完了</h1>
<p class="fBold">ネット点字印刷サービスの印刷依頼を受け付けました。</p>
<p>印刷物は1週間以内にご指定の場所にお届けします。点字印刷物発送後、ご依頼主様に「ご利用について」アンケートをお送りしますので、ご回答のほど宜しくお願いします。</p>
<p class="boxB">発送連絡はいたしません。送付先がご依頼主様でない場合は、送付先に到着の確認をお願いします。</p>
<p class="boxB">ご利用条件に沿っていない場合は対応できない旨、また、愛媛大学や本NPOの都合で発送が遅れる場合は登録のメールアドレスに別途連絡いたします。</p>

