<div id="introPage" class="tableArea">
  <%= render :partial => 'layouts/top_explain' %>
</div>
<div id="loginPage" class="tableArea">
  <div class="marginLeftArea">
    <h2>利用者登録する</h2>
  </div>
  <div class="marginArea">
    <div>遠隔点字印刷サービスをご利用される場合は、以下の利用登録を行なってください。</div>
    <div class="spacer"></div>
    <div><%= link_to '利用登録はこちら', :controller => 'users', :action => 'license' %></div>
  </div>
  <div class="spacer"></div>
</div>
