<div class="marginLeftArea">
  <h2>遠隔点字印刷サービスとは？</h2>
  <div class="marginArea">
    <div>点字印刷をインターネットから依頼することができます。</div>
    <div>ご利用に関しては利用者登録が必要です。 </div>
    <div class="spacer"></div>
    <div>詳しくは「遠隔点字印刷サービス」ページにある</div>
    <div><%= link_to 'ご利用の流れ', select_master_data('ict4e_url',:first) + 'braille_prt/' %>をお読みください。 </div>
    <div class="spacer"></div>
    <div>尚、ログインするためにはユーザ登録が必要です。 </div>
    <div><%= link_to 'ユーザ登録', select_master_data('ict4e_regist_url',:first) %>で、ご登録ください。</div>
  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>
